
@font-face {font-family: "vis-iconfont";
  src: url('iconfont.eot?t=1499655760302'); /* IE9*/
  src: url('iconfont.eot?t=1499655760302#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499655760302') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499655760302') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499655760302#vis-iconfont') format('svg'); /* iOS 4.1- */
}

.vis-iconfont {
  font-family:"vis-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vis-icon-logout:before { content: "\e601"; }

.vis-icon-kehu:before { content: "\e602"; }

.vis-icon-lang:before { content: "\e603"; }

.vis-icon-kucun:before { content: "\e604"; }

.vis-icon-message:before { content: "\e605"; }

.vis-icon-mima:before { content: "\e606"; }

.vis-icon-miam:before { content: "\e607"; }

.vis-icon-shichang:before { content: "\e608"; }

.vis-icon-success:before { content: "\e609"; }

.vis-icon-more:before { content: "\e60a"; }

.vis-icon-warn:before { content: "\e60b"; }

.vis-icon-spinner:before { content: "\e60c"; }

.vis-icon-xitong:before { content: "\e60d"; }

.vis-icon-yuding:before { content: "\e60e"; }

.vis-icon-zhanghao:before { content: "\e60f"; }

.vis-icon-banzhu:before { content: "\e610"; }

.vis-icon-baobiao:before { content: "\e611"; }

.vis-icon-yixiao:before { content: "\e612"; }

.vis-icon-caiwu:before { content: "\e613"; }

.vis-icon-fuxuan:before { content: "\e614"; }

.vis-icon-error:before { content: "\e615"; }

.vis-icon-home:before { content: "\e616"; }

.vis-icon-gongdan:before { content: "\e617"; }

.vis-icon-info:before { content: "\e618"; }

.vis-icon-jichu:before { content: "\e619"; }

.vis-icon-jiedai:before { content: "\e61a"; }

