/**
 * 工具库
 */

%form-element {
  display: inline-block;
}

%form-disabled {
  &[disabled],
  &[readonly] {
    background-color: #f3f3f3;
    // cursor: not-allowed;
  }
}


.clearfix {
  @include clearfix;
}

.clickable {
  cursor: pointer;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.pull-right {
  float: right !important;
}

// 三角形
.caret {
  @include triangle($dir: bottom, $size: 8px 4px);
  margin: 2px;
}